:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  // color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(
    131deg,
    rgba(7, 62, 33, 1) 0%,
    rgba(2, 20, 14, 1) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5.2em;
  line-height: 1.1;
  padding-top: 25vh;
  color: #940000;
  padding-left: 5%;
  padding-right: 5%;
}
.templateGLOW {
  transition: 0.7s;
  animation: templateGLOW 0.08s infinite;
}

@keyframes templateGLOW {
  0% {
    /* margin-left: 0%; */
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px #fff, 0 0 30px #e60000,
      0 0 20px #2e00e6, 0 0 30px #3a00e6, 0 0 20px #e60073, 0 0 70px #e60073;
  }

  100% {
    /* margin-left: 200%; */
    text-shadow: 0 0 5px #fff, 0 0 10px #ff4d4d, 0 0 15px #ff4da6,
      0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6;
  }
}
h2 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 25vh;
}
.box {
  height: 100vh;
  // margin-bottom: 30vh;
  border: solid #535bf2 3px;
  scroll-snap-align: start;
}
.descriptionTest {
  scroll-snap-type: y mandatory;
  max-height: 100vh;
  overflow-y: scroll;
  border: solid #839d51 5px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.hero {
  height: 100vh;
  border: solid #f25353 3px;
}
.y.mandatoryScrollSnapping {
  scroll-snap-type: y mandatory;
  // background-color: #646cff;
}
.inputWrapper {
  height: 100vh;
  border: solid #f2e753 2px;
}
.resultWrapper {
  height: 100vh;
  border: solid #f253e2 2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
